certifi
charset-normalizer
click
colorama
idna
imageio-ffmpeg
importlib-metadata
ninja
numpy
Pillow
psutil
pyspng
requests
scipy
setuptools
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
tqdm
typing-extensions
urllib3==1.26.6
zipp