certifi
charset-normalizer
click
colorama
idna
imageio-ffmpeg
importlib-metadata
ninja
numpy
Pillow
psutil
pyspng
requests
scipy
setuptools
torch
torchaudio
torchvision
tqdm
typing-extensions
urllib3
zipp
groundingdino-py